fieldset{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 0.8rem;
    border: none;

}

.search{
    height: 5.4rem;
    width: 100%;
    border-radius: 8px;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding-left: 1.6rem;

    font-size: 1.6rem;
    line-height: 1.4rem;

    color: var(--gray-200)

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    border-radius: 0.8rem;
    background-color: var(--blue-500);
    color: var(--gray-100);
    border: none;
    gap: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.4rem;

    cursor: pointer;
    
}

.button:hover{
    filter: brightness(120%);
    transition:  all 0.1s ease-in-out;
}

.button:focus{
    box-shadow: none;
}

.button:active{
    transform: scale(0.95);
    transition:  all 0.1s ease-in-out;
}